<% content_for :title, "夜景マップ - Nightscape Gallery" %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "public/post_image_maps.js" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap&libraries=&v=weekly", async: 'async' %>
<% end %>

<div id="map-wrap" class="container-fluid px-0">
  <div id="map_canvas" class="embed-responsive h-100"></div>
</div>