<% content_for :javascript_includes do %>
  <%= javascript_include_tag "public/homes.js" %>
<% end %>

<div class="jumbotron jumbotron-fluid text-white jumbotron-bg" style="">
  <div class="container">
    <h1 class="display-3 mb-5">Nightscape Gallery</h1>

    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>Latest Posts</h1>
      
      <ul class="px-0 jscroll">
        <% @post_images.each do |post_image| %>
          <li class="list-unstyled mb-3">
            <%= render 'public/post_images/card', post_image: post_image %>
          </li>
        <% end %>
        <li class="d-none">
          <%= paginate @post_images %>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .jumbotron-bg {
    height: calc(100vh - 56px);
    background-position:center center;
    background-size: cover;
  }
</style>


