<%# フォームエラー表示の共通レイアウト %>
<%# form_withの次の行でこのレイアウトをrenderすれば良い感じにエラー表示します %>
<%# 引数にformのmodelを指定 %>

<% if model.errors.any? %>
  <div class="alert alert-danger">
    <ul class="mb-0">
      <% model.errors.full_messages.each do |message| %>
        <li class="text-break"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>