<% content_for :title, "タグ「#{@tag.name}」の投稿一覧 - Nightscape Gallery" %>

<div class="container">
  <div class="row pt-3">
    <div class="col-12 mb-3">
      <h2>タグ「<%= @tag.name %>」の投稿一覧（<%= @post_images.total_count %>件）</h2>
    </div>

    <% @post_images.each do |post_image| %>
      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4">
        <%= render 'public/post_images/card', post_image: post_image %>
      </div>
    <% end %>
    <div class="col-12 text-center">
      <%= paginate @post_images, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-block" %>
    </div>
  </div>
</div>