<% content_for :javascript_includes do %>
  <%= javascript_include_tag "public/users.js" %>
<% end %>

<div class="container">
  <div class="row pt-3">
    <div class="col-md-10 col-lg-8 mx-auto">
      <% if @post_images.empty? %>
        <h3>フォローしているユーザーがいません</h3>
      <% end %>
      <ul class="px-0 jscroll">
        <% @post_images.each do |post_image| %>
          <li class="list-unstyled mb-3">
            <%= render 'public/post_images/card', post_image: post_image %>
          </li>
        <% end %>
        <li class="d-none">
          <%= paginate @post_images %>
        </li>
      </ul>
    </div>
  </div>
</div>
